div.home {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  div.wrapper_logos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.wrapper_button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 250px;
      height: 80px;
      font-size: 1.5rem;
    }
  }
  div.logo {
    &.leibniz {
      background: url("../../res/images/leibniz.svg") no-repeat 50%;
      //background-size: 50px 50px;
      width: 400px;
      height: 300px;
      background-size: 400px;
    }
    &.welfen {
      margin-left: 100px;
      background: url("../../res/images/welfen.svg");
      //background-size: 50px 50px;
      width: 300px;
      height: 303px;
      background-size: 300px;
    }
  }
  svg {
    transform: scale(2);
  }
}
