div.grid_play {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: ". . settings . ."
                       ". . . . ."
                       ". game game game .";
  grid-gap: 15px;
  grid-template-rows: auto 1fr 12fr;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
}