div.grid_play {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  
  div.playground {
    // grid-row-start: 1;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    padding: 15px;
    display: inline-block;
    grid-gap: 15px;
    height: fit-content;
  }



  

  div.wrapper_img {
    img {
      width: 100%;
      height: 100px;
    }
    span {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
    }
  }
  div.new_order {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-gap: 15px;
    span {
      display: flex;
      align-items: center;
    }
  }
  div.wrapper_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  div.next_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
 
  div.delivery {

  }
  div.costs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  div.timer {
    text-align: right;
  }
  div.line {
    height: 1px;
    width: 100%;
    background-color: black;
  }
}

div.grid_play2 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  

div.playground2{
  // grid-row-start: 2;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  padding: 15px;
  display: inline-block;
  grid-gap: 15px;
  height: fit-content;
}
}