@import "../vars";

header {
  grid-area: header;
  border-bottom: 1px solid $color_layout_border;
  display: flex;
  //justify-content: center;
  padding-left: 25px;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  h1 {
    font-weight: 400;
    font-size: 3rem;
    background: url("../res/icons/beer.svg") no-repeat;
    padding-left: 65px;
    span.orange {
      color:$color_orange;
    }
    span.italic {
      font-style: italic;
    }
  }
}

nav {
  grid-area: nav;
  border-right: 1px solid $color_layout_border;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $color_background_grey;
  ul {
    width: 100%;
    display: grid;
    grid-auto-rows: 40px;
    grid-gap: 10px;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
      border-radius: $global_element_border_radius;
      &.selected {
        background-color: $color_theme;
        color: white;
      }
      li {
        padding: 10px;
        display: flex;
        align-items: center;
        //min-height: 25px;
        list-style: none;
        //background-color: green;
        cursor: pointer;
        user-select: none;
        border-radius: $global_element_border_radius;
        &:hover {
          background-color: $color_theme_hover;
        }
      }
    }
  }
}

main {
  grid-area: main;
  padding: 25px;
}