@import "../../vars";

button {
  background-color: black;
  outline: none;
  border: none;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: $global_element_border_radius;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  &:hover {
    color: white;
    background-color: $color_theme;
  }
}