@import "../../vars";

div.tile {
  //width: 200px;
  height: fit-content;
  background-color: $color_background_grey;
  border: 1px solid $color_layout_border;
  //margin: 15px;
  padding: 15px;
  border-radius: $global_element_border_radius;
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
  cursor: pointer;
  &.selected {
    background-color: $color_theme;
    color: white;
    border-color: $color_theme_border;
  }
  img {
    width: 75px;
    height: auto;
    margin-bottom: 15px;
    &.selected {
      filter: invert(1);
    }
  }
  span {
    font-size: 1.25rem;
    font-weight: 400 !important;
  }
}