$global_element_border_radius:                  3px;

$color_theme:                                   rgba(243, 156, 18,1.0);
$color_theme_border:                            rgb(206, 128, 14);
$color_theme_hover:                             rgba(243, 156, 18,0.5);
$color_layout_border:                           rgba(189, 195, 199,1.0);

$color_background_grey:                         rgba(236, 240, 241,1.0);

$color_orange:                                  $color_theme;
//Test